<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javastudy.student_course.CourseMapper">
	<select id="get" resultMap="course" parameterType="int">
		select
			c.id cid,
			c.name cname,
			c.hours chours,
			c.type ctype,
			sid,sname,ssex,spwd,sphone,sphoto,sgrade
		from
		(
			select
				s.id sid,
				s.name sname,
				s.sex ssex,
				s.pwd spwd,
				s.phone sphone,
				s.photo sphoto,
				s.grade sgrade,
				sc.cid sccid
			from
				student s
			left join
				student_course sc
			on
				s.id=sc.sid
		)temp
		right join
			course c
		on
			sccid=c.id
		where
			c.id=#{id}
	</select>
	<resultMap type="javastudy.student_course.Course" id="course">
			<id property="id" column="cid"/>
			<result property="name" column="cname"/>
			<result property="type" column="ctype"/>
			<result property="hours" column="chours"/>
		<collection property="students" ofType="javastudy.student_course.Student">
			<id property="id" column="sid"/>
			<result property="name" column="sname"/>
			<result property="sex" column="ssex"/>
			<result property="pwd" column="spwd"/>
			<result property="phone" column="sphone"/>
			<result property="photo" column="sphoto"/>
			<result property="grade" column="sgrade"/>
		</collection>
	</resultMap>
</mapper>