<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>修改课程</title>
	<!-- 视口设置 -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<!-- 引入bootstrap的css文件 -->
	<link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.css">
	<!-- 引入datepicker插件css -->
	<link rel="stylesheet" type="text/css" href="js/datepicker/jquery.datetimepicker.css">
</head>
<body ng-controller="courseController">
		
	<!-- 网页头部开始 -->
	<div ng-include="'inc/header.jsp'"></div>
	<!-- 网页头部结束 -->

	<div class="container">		
		<div class="row">			
			<!-- 左侧区域开始 -->
			<div class="col-md-3">				
			</div>
			<!-- 左侧区域结束 -->
			<!-- 右侧区域开始 -->
			<div class="col-md-8">
				<h3 class="page-header">修改课程信息</h3>
				<!-- 表单开始 -->
				<form class="form-horizontal">
					<div class="form-group">
						<label for="" class="col-sm-2">课程名</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入课程名" name="courseName" class="form-control" ng-model="courseName">
						</div>				
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">学分</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入学分" name="courseCredit" class="form-control" ng-model="courseCredit">
						</div>				
					</div>	
					<div class="form-group">
						<label for="" class="col-sm-2">任教老师</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入老师姓名" name="courseTeacher" class="form-control" ng-model="courseTeacher">
						</div>				
					</div>	
					<div class="form-group">
						<label for="" class="col-sm-2">上课地址</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入教室" name="courseAdd" class="form-control" ng-model="courseAdd">
						</div>				
					</div>	
					<div class="form-group">
						<label for="" class="col-sm-2">上课时间</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入上课时间" name="courseTime" class="form-control" ng-model="courseTime">
						</div>				
					</div>	
					<div class="form-group">
						<label for="" class="col-sm-2">周次</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入周次" name="courseLong" class="form-control" ng-model="courseLong">
						</div>				
					</div>	
					<div class="form-group">
						<label for="" class="col-sm-2">课程属性</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入课程属性" name="courseFeature" class="form-control" ng-model="courseFeature">
						</div>				
					</div>	
					<div class="form-group">
						<label for="" class="col-sm-2">考试类型</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入考试类型" name="courseType" class="form-control" ng-model="courseType">
						</div>				
					</div>	
					<div class="form-group">				
						<div class="col-sm-8 col-sm-offset-2">
							<input type="button" value="修改课程信息" class="btn btn-primary" ng-click="update();">
						</div>				
					</div>
				</form>
				<!-- 表单结束 -->
			</div>
			<!-- 右侧区域结束 -->
		</div>
	</div>

	<!-- 网页底部开始 -->
<!--	<div ng-include="'inc/footer.html'"></div>
	<!-- 网页底部结束 -->	
	
	<!-- 引入jquery的js文件 -->
	<script type="text/javascript" src="js/bootstrap/js/jquery.js"></script>
	<!-- 引入bootstrap的js文件 -->
	<script type="text/javascript" src="js/bootstrap/js/bootstrap.js"></script>	
	<!-- 引入angularjs的js文件 -->
	<script type="text/javascript" src="js/angularjs/angular.js"></script>
	<!-- 引入layer.js插件 -->
	<script type="text/javascript" src="js/layer/layer.js"></script>
	<!-- 引入全局配置js -->
	<script type="text/javascript" src="js/global.js"></script>
	<!-- 引入datepicker插件js -->
	<script type="text/javascript" src="js/datepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript">
		/// 网页加载完毕事件
/*		$(document).ready(function(){
			
			
		});  */

		// 创建模块
		var myApp = angular.module('myApp',[]);

		//发送post请求必须要设置修改请求报头为x-www-form-urlencoded，否则以json字符串形式发送到服务器端!!!
		myApp.config(function($httpProvider) {
		    $httpProvider.defaults.headers.put['Content-Type'] = 'application/x-www-form-urlencoded';
		    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
		 
		    // Override $http service's default transformRequest
		    $httpProvider.defaults.transformRequest = [function(data) {
		        /**
		         * The workhorse; converts an object to x-www-form-urlencoded serialization.
		         * @param {Object} obj
		         * @return {String}
		         */
	/*	        var param = function(obj) {
		            var query = '';
		            var name, value, fullSubName, subName, subValue, innerObj, i;
		 
		            for (name in obj) {
		                value = obj[name];
		 
		                if (value instanceof Array) {
		                    for (i = 0; i < value.length; ++i) {
		                        subValue = value[i];
		                        fullSubName = name + '[' + i + ']';
		                        innerObj = {};
		                        innerObj[fullSubName] = subValue;
		                        query += param(innerObj) + '&';
		                    }
		                } else if (value instanceof Object) {
		                    for (subName in value) {
		                        subValue = value[subName];
		                        fullSubName = name + '[' + subName + ']';
		                        innerObj = {};
		                        innerObj[fullSubName] = subValue;
		                        query += param(innerObj) + '&';
		                    }
		                } else if (value !== undefined && value !== null) {
		                    query += encodeURIComponent(name) + '='
		                            + encodeURIComponent(value) + '&';
		                }
		            }
		 
		            return query.length ? query.substr(0, query.length - 1) : query;
		        };
		 
		        return angular.isObject(data) && String(data) !== '[object File]'
		                ? param(data)
		                : data;
		    }];
		});

*/
		// 创建控制器
		myApp.controller('courseController',function($scope,$http) {

			// 从后台获得部门列表数据
			var url =  URL + '/QueryCourseServlet';

			var promise = $http.get(url);

			promise.success(function(data){
				$scope.depts = data;							
			});

			promise.error(function(data,status,headers,config) {
				layer.msg('请求失败' + status);
			});

			// 增加功能
			$scope.add = function() {

				var url = URL + '/AddCourseServlet';

				// post请求的快捷方法
				var promise = $http.post(url,{					
					courseName:$scope.courseName,
					courseCredit:$scope.courseCredit,
					courseTeacher:$scope.courseTeacher,
					courseAddress:$scope.courseAddress,
					courseTime:$scope.courseTime,
					courseLong:$scope.courseLong,
					courseFeature:$scope.courseFeature,
					courseType:$scope.courseType										
				});

				promise.success(function(){
					layer.msg('增加成功');	

					setTimeout(function() {
						 location.href = 'QueryCourse.html';
					},1000);								
				});

				promise.error(function(data,status,headers,config) {
					layer.msg('请求失败' + status);
				});

			}


	/*		//手动设置日期数据
			$scope.setDate = function() {

				$scope.empBirthday = $('#empBirthday').val();

			}

		});

	</script>  
</body>
</html>

